
.DS_Store

bgfx
bx
bimg
sfml

build
bin
lib

*.pdb
*.exp
*.ilk
*.vs
*.vcxproj.filters
*.vcxproj.user

!tinyBGFX/include/bgfx
!tinyBGFX/include/bx
!tinyBGFX/include/bimg

!tinyBGFX/src/bgfx
!tinyBGFX/src/bx
!tinyBGFX/src/bimg